export HADOOP_HOME={{ hadoop_link_dir }}
export PATH=$PATH:$HADOOP_HOME/bin:$HADOOP_HOME/sbin
export HADOOP_CONF_DIR=$HADOOP_HOME/etc/hadoop
export HADOOP_COMMON_HOME=$HADOOP_HOME
export HADOOP_HDFS_HOME=$HADOOP_HOME
export HADOOP_MAPRED_HOME=$HADOOP_HOME
export HADOOP_YARN_HOME=$HADOOP_HOME
export HDFS_NAMENODE_USER={{ hadoop_os_user_name }}
export HDFS_DATANODE_USER={{ hadoop_os_user_name }}
export HDFS_SECONDARYNAMENODE_USER={{ hadoop_os_user_name }}
