[Unit]
Description=Apache YARN - Resourcemanager
After=network.target

[Service]
Type=forking
User={{ hadoop_os_user_name }}
Group={{ hadoop_os_group_name }}
ExecStart={{ hadoop_link_dir }}/bin/yarn --daemon start resourcemanager
ExecStop={{ hadoop_link_dir }}/bin/yarn --daemon stop resourcemanager
Restart=on-failure

[Install]
WantedBy=multi-user.target
