[Unit]
Description=HomeAdvisor Kafdrop
After=network.target

[Service]
Restart=on-abnormal

; User and group the process will run as
User={{ kafdrop_os_user_name }}
Group={{ kafdrop_os_user_name }}

; Commands to execute
ExecStart=/opt/kafdrop/kafdrop.sh
ExecReload=/bin/kill -USR1 $MAINPID

; Use graceful shutdown with a reasonable timeout
KillMode=mixed
KillSignal=SIGQUIT
TimeoutStopSec=5s

; Use private /tmp and /var/tmp, which are discarded after service stops
PrivateTmp=true
; Use a minimal /dev (May bring additional security if switched to 'true', but it may not work on Raspberry Pi's or other devices, so it has been disabled in this dist)
PrivateDevices=false
; Hide /home, /root, and /run/user. Nobody will steal your SSH-keys
ProtectHome=true
; Make /usr, /boot, /etc and possibly some more folders read-only
ProtectSystem=full

[Install]
WantedBy=multi-user.target
