- name: add Certbot repository
  apt_repository:
    repo: ppa:certbot/certbot

- name: install Certbot package
  apt:
    name: "{{ item }}"
    state: present
  with_items:
    - software-properties-common
    - certbot

- include_tasks: get_certificate.yml
  with_items: "{{ letsencrypt_domain_names }}"
  loop_control:
    loop_var: letsencrypt_domain_name

- name: add a crontab job to renew all letsencrypt certificates
  cron:
    name: "renew letsencrypt certificates"
    month: "*" # 0 0 12 1 * ? (Every month on the 1st, 10th, 20th, at 12:00)
    day: "1,10,20"
    hour: "12"
    minute: "0"
    job: "date >> {{ letsencrypt_renew_log_path }}; /usr/sbin/ufw disable; certbot renew --non-interactive --agree-tos >> {{ letsencrypt_renew_log_path }} 2>&1; /usr/sbin/ufw --force enable"
# Check certificates expiration with: openssl x509 -noout -dates -in /etc/letsencrypt/live/{{ letsencrypt_domain_name }}/cert.pem

- name: copy a logrotate file to archive logs of certificates renew
  template:
    src: logrotate_letsencrypt_renew
    dest: /etc/logrotate.d/logrotate_letsencrypt_renew
    owner: root
    group: root
    mode: 0644

