[Unit]
Description=Facebook Presto
After=network.target

[Service]
Type=forking
User={{ presto_os_user_name }}
Group={{ presto_os_group_name }}
ExecStart={{ presto_link_dir }}/bin/launcher start
ExecStop={{ presto_link_dir }}/bin/launcher stop

[Install]
WantedBy=multi-user.target
